<BsForm @model={{task}} @onSubmit={{action submit}} as |form|>
  <div class="form-primary-fields row">
    <div class="col">
      <form.element @controlType="text" @label="Task Name*" @placeholder="Task Name" @property="subject" @helpText="Write a short name describing the task"
        @required=true />
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <form.element @property="project" as |el|>
        <DataPowerSelect @modelName='project' @onchange={{action (mut el.value)}} @selected={{el.value}} @placeholder="Select Project"
          as |project|>
          {{project.name}}
        </DataPowerSelect>
      </form.element>
      <form.element @property="role" as |el|>
        <DataPowerSelect @modelName='role' @onchange={{action (mut el.value)}} @selected={{el.value}} @placeholder="Select Role"
          as |role|>
          {{role.name}}
        </DataPowerSelect>
      </form.element>
      <form.element @property="circle" as |el|>
        <DataPowerSelect @modelName='circle' @onchange={{action (mut el.value)}} @selected={{el.value}} @placeholder="Select Circle"
          as |circle|>
          {{circle.name}}
        </DataPowerSelect>
      </form.element>
      <form.element @label="Start Date" @property="startDate" as |el|>
        <PowerDatepicker @selected={{el.value}} @onSelect={{action (mut el.value) value="date"}} as |dp|>
          <dp.trigger tabindex="-1">
            <input id={{el.id}} type="text" class="form-control" value={{moment-format el.value 'DD/MM/YYYY'}}>
          </dp.trigger>
          <dp.content class="demo-datepicker-small">
            {{dp.nav}}
            {{dp.days}}
          </dp.content>
        </PowerDatepicker>
      </form.element>
      <form.element @label="Deadline" @property="deadline" as |el|>
        <PowerDatepicker @selected={{el.value}} @onSelect={{action (mut el.value) value="date"}} as |dp|>
          <dp.trigger tabindex="-1">
            <input id={{el.id}} type="text" class="form-control" value={{moment-format el.value 'DD/MM/YYYY'}}>
          </dp.trigger>
          <dp.content class="demo-datepicker-small">
            {{dp.nav}}
            {{dp.days}}
          </dp.content>
        </PowerDatepicker>
      </form.element>
    </div>
    <div class="col-8">
      <form.element @controlType="textarea" @label="Task Description" @placeholder="Task Description" @property="description"
        @helpText="Explain what will need to happen in order for this task to be accomplished" />
      <form.element @label="Evidence of Done" @property="evidence" as |el|>
        <BsButtonGroup @value={{el.value}} @type="radio" @onChange={{action (mut el.value)}} as |types|>
          <types.button value='document'>Document</types.button>
          <types.button value='github'>GitHub</types.button>
          <types.button value='photo'>Photo</types.button>
          <types.button value='assertion'>Assertion</types.button>
        </BsButtonGroup>


      </form.element>


      <BsButton @defaultText="Create" @type="primary" @buttonType="submit" @block=true />
    </div>
  </div>
</BsForm>