{{#bs-form formLayout="horizontal" model=model onSubmit=(action "submit") as |form|}}
  {{form.element controlType="text" label="Task Name" placeholder="Task Name" property="subject" helpText="Write a short name describing the task"}}
  {{form.element controlType="textarea" label="Task Description" placeholder="Task Description" property="description" helpText="Explain what will need to happen in order for this task to be accomplished"}}
  {{form.element controlType="textarea" label="Evidence of Done" placeholder="Evidence of Done" property="done_evidence" helpText="What deliverables, links, assertions (by clients, partners, or Members), or other evidence are required to show completion
  of this task?"}}
  {{#form.group}}
    <label class="col-form-label col-md-4">Start</label>
    <div class="col-md-8">
      {{#power-datepicker selected=model.startDate onSelect=(action (mut model.startDate) value="date") as |dp|}}
        {{#dp.trigger tabindex="-1"}}
          <input type="text" class="form-control" value={{moment-format model.startDate 'DD/MM/YYYY'}}>
        {{/dp.trigger}}

        {{#dp.content class="demo-datepicker-small"}}
          {{dp.nav}}
          {{dp.days}}
        {{/dp.content}}
      {{/power-datepicker}}
    </div>
  {{/form.group}}
  {{#form.group}}
    <label class="col-form-label col-md-4">Deadline</label>
    <div class="col-md-8">
      {{#power-datepicker selected=model.deadline onSelect=(action (mut model.deadline) value="date") as |dp|}}
        {{#dp.trigger tabindex="-1"}}
          <input type="text" class="form-control" value={{moment-format model.deadline 'DD/MM/YYYY'}}>
        {{/dp.trigger}}

        {{#dp.content class="demo-datepicker-small"}}
          {{dp.nav}}
          {{dp.days}}
        {{/dp.content}}
      {{/power-datepicker}}
    </div>
  {{/form.group}}
  {{#form.group}}
    <label class="col-form-label col-md-4">Project</label>
    <div class="col-md-8">
      {{#data-power-select
        modelName='project'
        params=(hash limit=10)
        queryKey='title'
        params=(hash results=10)
        onchange=(action (mut model.project))
        selected=model.project
        placeholder="Search Projects..."
        as |project|
        }}
        {{user.email}}
      {{/data-power-select}}
    </div>
  {{/form.group}}
  {{#form.group}}
    <label class="col-form-label col-md-4">Role</label>
    <div class="col-md-8">
      {{#data-power-select
        modelName='role'
        params=(hash limit=10)
        queryKey='title'
        params=(hash results=10)
        onchange=(action (mut model.project))
        selected=model.project
        placeholder="Search Roles..."
        as |role|
        }}
        {{role.name}}
      {{/data-power-select}}
    </div>
  {{/form.group}}
  {{#form.group}}
    <label class="col-form-label col-md-4">Circle</label>
    <div class="col-md-8">
      {{#data-power-select
      modelName='circle'
      params=(hash limit=10)
      queryKey='title'
      params=(hash results=10)
      onchange=(action (mut model.circle))
      selected=model.circle
      placeholder="Search Circles..."
      as |circle|
      }}
      {{circle.name}}
      {{/data-power-select}}
    </div>
    {{/form.group}}
  {{bs-button defaultText="Submit" type="primary" buttonType="submit"}}
{{/bs-form}}